name: Build and deploy tile server
on:
  schedule:
  - cron: 0 7 * * *
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{secrets.AWS_S3_ACCESS_KEY_ID}}
        aws-secret-access-key: ${{secrets.AWS_S3_SECRET_ACCESS_KEY}}
        aws-region: eu-west-2
    - name: Build tiles and docker image
      run: |
        make
    - name: Push image and re-deploy
      run: |
        make push
